In [4]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# Define the tickers and date range
tickers = ['TSLA', 'BND', 'SPY']
start_date = '2015-01-01'
end_date = '2024-10-31'

# Download the data
data = yf.download(tickers, start=start_date, end=end_date, interval='1d')

data.to_csv('./data/financial_data.csv')

# Display the first few rows
data.head()

[*********************100%***********************]  3 of 3 completed

Price                      Adj Close                             Close  \
Ticker                           BND         SPY       TSLA        BND
Date
2015-01-02 00:00:00+00:00  63.358757  173.173782  14.620667  82.650002
2015-01-05 00:00:00+00:00  63.542789  170.046295  14.006000  82.889999
2015-01-06 00:00:00+00:00  63.726715  168.444656  14.085333  83.129997
2015-01-07 00:00:00+00:00  63.765060  170.543640  14.063333  83.180000
2015-01-08 00:00:00+00:00  63.665356  173.570007  14.041333  83.050003

Price                                                  High              \
Ticker                            SPY       TSLA        BND         SPY
Date
2015-01-02 00:00:00+00:00  205.429993  14.620667  82.690002  206.880005
2015-01-05 00:00:00+00:00  201.720001  14.006000  82.919998  204.369995
2015-01-06 00:00:00+00:00  199.820007  14.085333  83.379997  202.720001
2015-01-07 00:00:00+00:00  202.309998  14.063333  83.279999  202.720001
2015-01-08 00:00:00+00:00  205.899994  14.041333  83.110001  206.160004

Price                                       Low                         \
Ticker                          TSLA        BND         SPY       TSLA
Date
2015-01-02 00:00:00+00:00  14.883333  82.419998  204.179993  14.217333
2015-01-05 00:00:00+00:00  14.433333  82.699997  201.350006  13.810667
2015-01-06 00:00:00+00:00  14.280000  83.029999  198.860001  13.614000
2015-01-07 00:00:00+00:00  14.318667  83.050003  200.880005  13.985333
2015-01-08 00:00:00+00:00  14.253333  82.970001  203.990005  14.000667

Price                           Open                          Volume  \
Ticker                           BND         SPY       TSLA      BND
Date
2015-01-02 00:00:00+00:00  82.430000  206.380005  14.858000  2218800
2015-01-05 00:00:00+00:00  82.739998  204.169998  14.303333  5820100
2015-01-06 00:00:00+00:00  83.029999  202.089996  14.004000  3887600
2015-01-07 00:00:00+00:00  83.139999  201.419998  14.223333  2433400
2015-01-08 00:00:00+00:00  83.110001  204.009995  14.187333  1873400

Price
Ticker                           SPY      TSLA
Date
2015-01-02 00:00:00+00:00  121465900  71466000
2015-01-05 00:00:00+00:00  169632600  80527500
2015-01-06 00:00:00+00:00  209151400  93928500
2015-01-07 00:00:00+00:00  125346700  44526000
2015-01-08 00:00:00+00:00  147217800  51637500

In [15]:
framed_data = pd.DataFrame(data)

# Iterate through columns and print data types
for column in framed_data.columns:
    print(f"{column}: {framed_data[column].dtype}")

('Adj Close', 'BND'): float64
('Adj Close', 'SPY'): float64
('Adj Close', 'TSLA'): float64
('Close', 'BND'): float64
('Close', 'SPY'): float64
('Close', 'TSLA'): float64
('High', 'BND'): float64
('High', 'SPY'): float64
('High', 'TSLA'): float64
('Low', 'BND'): float64
('Low', 'SPY'): float64
('Low', 'TSLA'): float64
('Open', 'BND'): float64
('Open', 'SPY'): float64
('Open', 'TSLA'): float64
('Volume', 'BND'): int64
('Volume', 'SPY'): int64
('Volume', 'TSLA'): int64

In [16]:
print(framed_data.isnull().sum())

Price      Ticker
Adj Close  BND       0
           SPY       0
           TSLA      0
Close      BND       0
           SPY       0
           TSLA      0
High       BND       0
           SPY       0
           TSLA      0
Low        BND       0
           SPY       0
           TSLA      0
Open       BND       0
           SPY       0
           TSLA      0
Volume     BND       0
           SPY       0
           TSLA      0
dtype: int64

In [18]:
for column in framed_data.columns:
    print(f'mean of {framed_data[column]}: {framed_data[column].mean()}')

mean of Date
2015-01-02 00:00:00+00:00    63.358757
2015-01-05 00:00:00+00:00    63.542789
2015-01-06 00:00:00+00:00    63.726715
2015-01-07 00:00:00+00:00    63.765060
2015-01-08 00:00:00+00:00    63.665356
                               ...
2024-10-24 00:00:00+00:00    73.081184
2024-10-25 00:00:00+00:00    72.931664
2024-10-28 00:00:00+00:00    72.841942
2024-10-29 00:00:00+00:00    72.901749
2024-10-30 00:00:00+00:00    72.831970
Name: (Adj Close, BND), Length: 2474, dtype: float64: 70.08925096547304
mean of Date
2015-01-02 00:00:00+00:00    173.173782
2015-01-05 00:00:00+00:00    170.046295
2015-01-06 00:00:00+00:00    168.444656
2015-01-07 00:00:00+00:00    170.543640
2015-01-08 00:00:00+00:00    173.570007
                                ...
2024-10-24 00:00:00+00:00    579.239990
2024-10-25 00:00:00+00:00    579.039978
2024-10-28 00:00:00+00:00    580.830017
2024-10-29 00:00:00+00:00    581.770020
2024-10-30 00:00:00+00:00    580.010010
Name: (Adj Close, SPY), Length: 2474, dtype: float64: 310.253153191137
mean of Date
2015-01-02 00:00:00+00:00     14.620667
2015-01-05 00:00:00+00:00     14.006000
2015-01-06 00:00:00+00:00     14.085333
2015-01-07 00:00:00+00:00     14.063333
2015-01-08 00:00:00+00:00     14.041333
                                ...
2024-10-24 00:00:00+00:00    260.480011
2024-10-25 00:00:00+00:00    269.190002
2024-10-28 00:00:00+00:00    262.510010
2024-10-29 00:00:00+00:00    259.519989
2024-10-30 00:00:00+00:00    257.549988
Name: (Adj Close, TSLA), Length: 2474, dtype: float64: 111.4389649578517
mean of Date
2015-01-02 00:00:00+00:00    82.650002
2015-01-05 00:00:00+00:00    82.889999
2015-01-06 00:00:00+00:00    83.129997
2015-01-07 00:00:00+00:00    83.180000
2015-01-08 00:00:00+00:00    83.050003
                               ...
2024-10-24 00:00:00+00:00    73.309998
2024-10-25 00:00:00+00:00    73.160004
2024-10-28 00:00:00+00:00    73.070000
2024-10-29 00:00:00+00:00    73.129997
2024-10-30 00:00:00+00:00    73.059998
Name: (Close, BND), Length: 2474, dtype: float64: 80.3160388116983
mean of Date
2015-01-02 00:00:00+00:00    205.429993
2015-01-05 00:00:00+00:00    201.720001
2015-01-06 00:00:00+00:00    199.820007
2015-01-07 00:00:00+00:00    202.309998
2015-01-08 00:00:00+00:00    205.899994
                                ...
2024-10-24 00:00:00+00:00    579.239990
2024-10-25 00:00:00+00:00    579.039978
2024-10-28 00:00:00+00:00    580.830017
2024-10-29 00:00:00+00:00    581.770020
2024-10-30 00:00:00+00:00    580.010010
Name: (Close, SPY), Length: 2474, dtype: float64: 330.6236338696368
mean of Date
2015-01-02 00:00:00+00:00     14.620667
2015-01-05 00:00:00+00:00     14.006000
2015-01-06 00:00:00+00:00     14.085333
2015-01-07 00:00:00+00:00     14.063333
2015-01-08 00:00:00+00:00     14.041333
                                ...
2024-10-24 00:00:00+00:00    260.480011
2024-10-25 00:00:00+00:00    269.190002
2024-10-28 00:00:00+00:00    262.510010
2024-10-29 00:00:00+00:00    259.519989
2024-10-30 00:00:00+00:00    257.549988
Name: (Close, TSLA), Length: 2474, dtype: float64: 111.4389649578517
mean of Date
2015-01-02 00:00:00+00:00    82.690002
2015-01-05 00:00:00+00:00    82.919998
2015-01-06 00:00:00+00:00    83.379997
2015-01-07 00:00:00+00:00    83.279999
2015-01-08 00:00:00+00:00    83.110001
                               ...
2024-10-24 00:00:00+00:00    73.440002
2024-10-25 00:00:00+00:00    73.480003
2024-10-28 00:00:00+00:00    73.279999
2024-10-29 00:00:00+00:00    73.139999
2024-10-30 00:00:00+00:00    73.430000
Name: (High, BND), Length: 2474, dtype: float64: 80.43115192743299
mean of Date
2015-01-02 00:00:00+00:00    206.880005
2015-01-05 00:00:00+00:00    204.369995
2015-01-06 00:00:00+00:00    202.720001
2015-01-07 00:00:00+00:00    202.720001
2015-01-08 00:00:00+00:00    206.160004
                                ...
2024-10-24 00:00:00+00:00    580.059998
2024-10-25 00:00:00+00:00    584.460022
2024-10-28 00:00:00+00:00    582.710022
2024-10-29 00:00:00+00:00    582.909973
2024-10-30 00:00:00+00:00    583.320007
Name: (High, SPY), Length: 2474, dtype: float64: 332.3688562897395
mean of Date
2015-01-02 00:00:00+00:00     14.883333
2015-01-05 00:00:00+00:00     14.433333
2015-01-06 00:00:00+00:00     14.280000
2015-01-07 00:00:00+00:00     14.318667
2015-01-08 00:00:00+00:00     14.253333
                                ...
2024-10-24 00:00:00+00:00    262.119995
2024-10-25 00:00:00+00:00    269.489990
2024-10-28 00:00:00+00:00    273.540009
2024-10-29 00:00:00+00:00    264.980011
2024-10-30 00:00:00+00:00    263.350006
Name: (High, TSLA), Length: 2474, dtype: float64: 113.89583556268518
mean of Date
2015-01-02 00:00:00+00:00    82.419998
2015-01-05 00:00:00+00:00    82.699997
2015-01-06 00:00:00+00:00    83.029999
2015-01-07 00:00:00+00:00    83.050003
2015-01-08 00:00:00+00:00    82.970001
                               ...
2024-10-24 00:00:00+00:00    73.169998
2024-10-25 00:00:00+00:00    73.129997
2024-10-28 00:00:00+00:00    72.949997
2024-10-29 00:00:00+00:00    72.790001
2024-10-30 00:00:00+00:00    73.019997
Name: (Low, BND), Length: 2474, dtype: float64: 80.19846406904266
mean of Date
2015-01-02 00:00:00+00:00    204.179993
2015-01-05 00:00:00+00:00    201.350006
2015-01-06 00:00:00+00:00    198.860001
2015-01-07 00:00:00+00:00    200.880005
2015-01-08 00:00:00+00:00    203.990005
                                ...
2024-10-24 00:00:00+00:00    576.570007
2024-10-25 00:00:00+00:00    578.080017
2024-10-28 00:00:00+00:00    580.520020
2024-10-29 00:00:00+00:00    578.429993
2024-10-30 00:00:00+00:00    579.289978
Name: (Low, SPY), Length: 2474, dtype: float64: 328.61442586271244
mean of Date
2015-01-02 00:00:00+00:00     14.217333
2015-01-05 00:00:00+00:00     13.810667
2015-01-06 00:00:00+00:00     13.614000
2015-01-07 00:00:00+00:00     13.985333
2015-01-08 00:00:00+00:00     14.000667
                                ...
2024-10-24 00:00:00+00:00    242.649994
2024-10-25 00:00:00+00:00    255.320007
2024-10-28 00:00:00+00:00    262.239990
2024-10-29 00:00:00+00:00    255.509995
2024-10-30 00:00:00+00:00    255.820007
Name: (Low, TSLA), Length: 2474, dtype: float64: 108.86942108774147
mean of Date
2015-01-02 00:00:00+00:00    82.430000
2015-01-05 00:00:00+00:00    82.739998
2015-01-06 00:00:00+00:00    83.029999
2015-01-07 00:00:00+00:00    83.139999
2015-01-08 00:00:00+00:00    83.110001
                               ...
2024-10-24 00:00:00+00:00    73.279999
2024-10-25 00:00:00+00:00    73.480003
2024-10-28 00:00:00+00:00    73.239998
2024-10-29 00:00:00+00:00    72.900002
2024-10-30 00:00:00+00:00    73.269997
Name: (Open, BND), Length: 2474, dtype: float64: 80.31996778643892
mean of Date
2015-01-02 00:00:00+00:00    206.380005
2015-01-05 00:00:00+00:00    204.169998
2015-01-06 00:00:00+00:00    202.089996
2015-01-07 00:00:00+00:00    201.419998
2015-01-08 00:00:00+00:00    204.009995
                                ...
2024-10-24 00:00:00+00:00    579.979980
2024-10-25 00:00:00+00:00    581.510010
2024-10-28 00:00:00+00:00    582.580017
2024-10-29 00:00:00+00:00    579.849976
2024-10-30 00:00:00+00:00    581.289978
Name: (Open, SPY), Length: 2474, dtype: float64: 330.57037608239955
mean of Date
2015-01-02 00:00:00+00:00     14.858000
2015-01-05 00:00:00+00:00     14.303333
2015-01-06 00:00:00+00:00     14.004000
2015-01-07 00:00:00+00:00     14.223333
2015-01-08 00:00:00+00:00     14.187333
                                ...
2024-10-24 00:00:00+00:00    244.679993
2024-10-25 00:00:00+00:00    256.010010
2024-10-28 00:00:00+00:00    270.000000
2024-10-29 00:00:00+00:00    264.510010
2024-10-30 00:00:00+00:00    258.040009
Name: (Open, TSLA), Length: 2474, dtype: float64: 111.46187234522358
mean of Date
2015-01-02 00:00:00+00:00    2218800
2015-01-05 00:00:00+00:00    5820100
2015-01-06 00:00:00+00:00    3887600
2015-01-07 00:00:00+00:00    2433400
2015-01-08 00:00:00+00:00    1873400
                              ...
2024-10-24 00:00:00+00:00    6219500
2024-10-25 00:00:00+00:00    4641400
2024-10-28 00:00:00+00:00    4582800
2024-10-29 00:00:00+00:00    5543800
2024-10-30 00:00:00+00:00    4610300
Name: (Volume, BND), Length: 2474, dtype: int64: 4169014.06628941
mean of Date
2015-01-02 00:00:00+00:00    121465900
2015-01-05 00:00:00+00:00    169632600
2015-01-06 00:00:00+00:00    209151400
2015-01-07 00:00:00+00:00    125346700
2015-01-08 00:00:00+00:00    147217800
                               ...
2024-10-24 00:00:00+00:00     34979900
2024-10-25 00:00:00+00:00     47268200
2024-10-28 00:00:00+00:00     30174700
2024-10-29 00:00:00+00:00     42899700
2024-10-30 00:00:00+00:00     41435800
Name: (Volume, SPY), Length: 2474, dtype: int64: 88102675.54567502
mean of Date
2015-01-02 00:00:00+00:00     71466000
2015-01-05 00:00:00+00:00     80527500
2015-01-06 00:00:00+00:00     93928500
2015-01-07 00:00:00+00:00     44526000
2015-01-08 00:00:00+00:00     51637500
                               ...
2024-10-24 00:00:00+00:00    204491900
2024-10-25 00:00:00+00:00    161611900
2024-10-28 00:00:00+00:00    107653600
2024-10-29 00:00:00+00:00     80521800
2024-10-30 00:00:00+00:00     53993600
Name: (Volume, TSLA), Length: 2474, dtype: int64: 112574456.26515764